@using CourseManagement.ViewModels.Users
@model ChangePasswordViewModel

<div class="modal fade" id="modalChangePasswordForm" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-title">Đổi mật khẩu</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmChangePassword">
                    <div class="form-group row">
                        <label asp-for="Password" class="required">Mật khẩu</label>
                        <input asp-for="Password" type="password" autocomplete="off" class="form-control form-control-md" maxlength="20" />
                    </div>
                    <div class="form-group row">
                        <label asp-for="Password" class="required">Mật khẩu (xác nhận)</label>
                        <input asp-for="ConfirmPassword" type="password" autocomplete="off" class="form-control form-control-md" maxlength="20" />
                    </div>
                    <div class="form-group row">
                        <div class="form-group">
                            <div class="custom-control custom-switch" onclick="showPassword()">
                                <input type="checkbox" class="custom-control-input" id="cbShowPassword">
                                <label class="custom-control-label" for="cbShowPassword">Hiện mật khẩu</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="changePassword()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
