@using CourseManagement.Domain.Users.Helpers
@using CourseManagement.Helpers
@model SearchCondition

<form
    id="frmSearch"
    data-ajax="true"
    data-ajax-method="get"
    data-ajax-update="#tblUsers tbody"
    data-ajax-mode="replace"
    data-ajax-success="loadPagination()"
    data-ajax-url="@Url.Action("Search", "Users")">

    <div class="row mb-2">
        <div class="col-md-3 mb-2">
            <label>Người dùng</label>
            <input asp-for="SearchWord" type="search" class="form-control form-control-md" autocomplete="off" maxlength="100" />
        </div>
        <div class="col-md-2 mb-2">
            <label>Vai trò</label>
            @Html.DropDownListFor(
                model => model.UserRole,
                new SelectList(ValueTextHelper.GetUserRoles(), "Value", "Text", Model.UserRole),
                new { @id = "ddlUserRole", @class = "select2", @style = "width: 100%;" })
        </div>
        <div class="col-md-2 mb-2">
            <label>Trạng thái</label>
            @Html.DropDownListFor(
                model => model.Status,
                new SelectList(ValueTextHelper.GetStatuses(), "Value", "Text", Model.Status),
                new { @id = "ddlStatus", @class = "select2", @style = "width: 100%;" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <button type="button" id="btnSearch" class="btn btn-md btn-primary">Tìm kiếm</button>
            <a id="btnReset" class="btn btn-md btn-link">reset</a>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary" onclick="register(0)">Thêm</a>
        </div>
    </div>

    <input type="hidden" asp-for="PageLength" />
    <input type="hidden" asp-for="PageNo" />
    <input type="hidden" asp-for="OrderBy" />

</form>